.container {
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* background-color: #e4efffb6; */
}

h1 {
    font-size: 55px;
}

.card {
    display: flex;
}

div.card.mb-2 {
    border: 0;
    background-color: rgb(196, 233, 255);
}

.card-body {
    display: flex;
    flex-direction: column;
    display: relative;
}

/* .d-flex {
    padding-bottom: 1%;
} */

.custom-select {
    height: 100%;
    border-color: lightgray;
}

.card-chat-history {
    border-color: lightgray;
}

.container-form {
    justify-content: center;
}

.card.p-0.m-0 {
    background-color: transparent;
    border: 0;
}

.search-container {
    position: relative;
    width: 100%;
}