<div class="container" id="search-container">

    <div class="row height d-flex  align-items-center">

        <div class="col-md-6">

            <div class="form">
                <div class="search-container">
                    <input type="text" class="form-control form-input" placeholder="Search anything...">
                    <span class="right-pan"><button class="btn btn-success">Search</button></span>
                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <!-- profile & meds list -->
        <div class="col-lg-6">

            <!-- spacer row -->
            <div class="row" style="height: 5vh">
            </div>
            <!-- meds list -->
            <div class="card" style="height: 30vh">
                <div class="card-body">
                    <!-- section title -->
                    <h5 class="card-title"> Medications </h5>
                    <!-- search/add bar -->
                    <form class="d-flex">
                        <input class="form-control" [(ngModel)]="newMedication" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-primary btn-block" (click)="addMedication()" type="button">Add</button>
                    </form>
                    <!-- current meds list -->
                    <select class="custom-select" multiple>
                        <option *ngFor="let med of medications">{{ med.prescriptionName }}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- ai chatbox -->
        <div class="col-lg-6">
            <div class="card" style="height: 85vh">
                <!-- chat history -->
                <div class="card-body">
                    <h5 class="card-title"> Chat History </h5>
                    <textarea class="card-chat-history" style="height: 60vh; resize: none; outline: none"
                        readonly></textarea>
                </div>
                <!-- question buttons -->
                <div class="card-body">
                    <div class="d-flex justify-content-space-between">
                        <!-- Premade Q1 -->
                        <button class="btn btn-primary m-2" type="submit">Can you give me a description for
                            drug?</button>
                        <!-- Premade Q2 -->
                        <button class="btn btn-primary m-2" type="submit">How does drug interact with my other
                            meds?</button>
                        <!-- Premade Q3 -->
                        <button class="btn btn-primary m-2" type="submit">I don't know what to put for this third
                            Q?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>