<div class="container">
    <div class="row">
        <!-- profile & meds list -->
        <div class="col-lg-6">
            <!-- profile -->
            <div class="card" style="height: 50vh">
                <div class="card-body">
                    <h5 class="card-title"> Profile </h5>
                    <form class="container-form">
                        <div class="row">
                            <!-- First name -->
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" class="form-control" placeholder="Test First" disabled/>
                                    <label class="form-label" for="form3Example1">First Name</label>
                                </div>
                            </div>
                            <!-- Last name -->
                            <div class="col-md-6 mb-2">
                                <div class="form-outline">
                                    <input type="text" id="form3Example2" class="form-control" placeholder="Test Last" disabled/>
                                    <label class="form-label" for="form3Example2">Last Name</label>
                                </div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-outline mb-2">
                            <input type="email" id="form3Example3" class="form-control" placeholder="Email@test.com" disabled/>
                            <label class="form-label" for="form3Example3">Email Address</label>
                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-2">
                            <input type="password" id="form3Example4" class="form-control" placeholder="*******" disabled/>
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <!-- Edit -->
                            <button class="btn btn-primary me-2" type="submit">Edit</button>
                            <!-- Save -->
                            <button class="btn btn-primary mw-2" type="submit" disabled>Save</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <!-- spacer row -->
            <div class="row" style="height: 5vh">
            </div>
            <!-- meds list -->
            <div class="card" style="height: 30vh">
                <div class="card-body">
                    <!-- section title -->
                    <h5 class="card-title"> Medications </h5>
                    <!-- search/add bar -->
                    <form class="d-flex">
                        <!-- add autocomplete to check for meds in database -->
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <!-- if med not in patient list -->
                            <!-- button text = add -->
                            <!-- button color = blue -->
                            <!-- add med to patient list -->
                        <!-- else if med in patient list -->
                            <!-- button text = remove -->
                            <!-- button color = red -->
                            <!-- remove from patient list -->
                        <button class="btn btn-primary btn-block" type="submit">Add/Remove</button>
                    </form>
                    <!-- current meds list -->
                    <select class="custom-select" multiple>
                        <option selected>Medication List</option>
                        <option value="Med 1">One</option>
                        <option value="Med 2">Two</option>
                        <option value="Med 3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- ai chatbox -->
        <div class="col-lg-6">
            <div class="card" style="height: 85vh">
                <!-- chat history -->
                <div class="card-body">
                    <h5 class="card-title"> Chat History </h5>
                    <textarea class="card-chat-history" style="height: 60vh; resize: none; outline: none" readonly></textarea>
                </div>
                <!-- question buttons -->
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <!-- Premade Q1 -->
                        <button class="btn btn-primary me-2" type="submit">Can you give me a description for drug?</button>
                        <!-- Premade Q2 -->
                        <button class="btn btn-primary mx-2" type="submit">How does drug interact with my other meds?</button>
                        <!-- Premade Q3 -->
                        <button class="btn btn-primary mw-2" type="submit">I don't know what to put for this third Q?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>