.container {
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* background-color: #e4efffb6; */
}

h1 {
    text-align: start;
    font-size: 65px;
}

.card {
    display: flex;
}

div.card.mb-2 {
    border: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    display: relative;
}

.card-body.greeting-card {
    background-color: rgb(141, 211, 255);
    color: #fff;
}



/* .d-flex {
    padding-bottom: 1%;
} */

.custom-select {
    height: 100%;
    border-color: lightgray;
}

.card-chat-history {
    border-color: lightgray;
}

.container-form {
    justify-content: center;
}

/* Search Bar */
.search-container {
    position: relative;
    width: 100%;
}

#edit-btn {
    right: 0;

}