<div class="container-fluid mt-2">
    <!-- Greeting card -->
    <div class="card mb-2">
        <div class="card-body greeting-card">
            <h1 class="card-title">Hello,<span class="text-primary" style="text-transform: capitalize;"> {{
                    userFirstName }}</span>.</h1>
        </div>
    </div>



    <!-- Meds list and chat container -->
    <div class="row">
        <div class="col-lg-5 m-0">
            <div class="card p-0 m-0" style="height: 74vh; display: flex; flex-direction: column;">
                <!-- Search container -->

                <app-search-bar (results)="handleResults($event)"></app-search-bar>

                <!-- Meds list -->
                <div class="d-flex flex-column" style="flex: 1;">
                    <h4 class="text-center justify-self-center text-primary"> Your Medications</h4>
                    <div class="col m-0 d-flex flex-column">
                        <div class="card p-0 m-0 border-0" style="height:100%; display: flex; flex-direction: column;">
                            <h5 class="card-title"></h5>
                            <div class="card-body m-0 p-0 overflow-auto" style="max-height: 52vh;">
                                <app-medications-list class="overflow-auto"
                                    [isEditing]="isEditing"></app-medications-list>
                            </div>
                            <div class="card mt-auto" style="background-color: transparent; border: 0;">
                                <button class="btn btn-primary w-50 m-auto"
                                    (click)="analyzeMedications()">Analyze</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat container -->
        <div class="col-lg-6 m-0">
            <app-chatbot></app-chatbot>
        </div>
    </div>