<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Login failed!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-form">
    <div class="container">
        <h1 class="text-primary">Medisense</h1>
        <h1>Medication</h1>
        <h1>Management.</h1>
    </div>

    <form class="form-signin" [formGroup]="userLoginForm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" class="form-control" formControlName="username" placeholder="username"
                    required="" autofocus="">

                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                    placeholder="Password" required="">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <p class="mt-5 mb-3 text-muted">Don't have an account? </p>

                <a class="nav" routerLink="/registration">Sign up</a>

            </div>
        </div>
    </form>
</div>