<div class="container mt-5">
    <h2 class="mb-4">Add Medication</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="prescriptionName">Prescription Name:</label>
            <input type="text" [(ngModel)]="medication.prescriptionName" name="prescriptionName" class="form-control"
                id="prescriptionName" required>
        </div>

        <div class="form-group">
            <label for="dose">Dose:</label>
            <input type="text" [(ngModel)]="medication.dose" name="dose" class="form-control" id="dose" required>
        </div>

        <div class="form-group">
            <label for="frequency">Frequency:</label>
            <input type="text" [(ngModel)]="medication.frequency" name="frequency" class="form-control" id="frequency"
                required>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-outline-primary">Add Medication</button>
        </div>
    </form>
</div>