<div class="container">
    <div class="container-list">
        <div *ngIf="medications && medications.length">
            <div class="card  mb-2 p-3 " *ngFor="let med of medications; let i = index">
                <div class="row border-0 d-flex">
                    <div class="rounded-circle overflow-hidden" style="border: 1px solid rgb(104, 213, 230);">
                        <img src="assets/images/pill-svg.svg">
                    </div>
                    <div
                        class="col-md-4 col-sm-8 d-flex text-primary text-uppercase  align-items-center justify-content-start">
                        {{
                        med.prescriptionName
                        }}
                    </div>
                    <div class="col-md-4 p-0 justify-content-center align-self-center m-1 ">
                        <input [value]="med.dose" class="scale-width" [disabled]="true">
                        <input [(ngModel)]="med.frequency" placeholder="Frequency"
                            [disabled]="!isEditing || editedMedicationIndex !== i" class="m-0">
                    </div>
                    <div class="col-md-2 d-flex flex-row justify-content-center align-items-center position-relative">
                        <div class="btn btn-outline-primary action-btn m-1" id="edit-save-btn"
                            (click)="toggleEdit(i); onEditSave(i);">
                            {{ isEditing && editedMedicationIndex === i ? 'Save' : 'Edit'}}
                        </div>
                        <div class="btn btn-outline-primary action-btn m-1" (click)="deleteMedication(med.id)">
                            <fa-icon [icon]="faTrashcan"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="mt-3 text-muted text-center text-lowercase" *ngIf="!medications?.length">No medications found for
        the
        user.</p>
</div>