.container {
    border: 0;
}

.card {
    background-color: rgb(241, 248, 255);
}

.card:hover {
    transform: scale(1.01);
}

.rounded-circle {
    display: flex;
    width: 55px;
    height: 55px;
    background-color: #fbfdffef;
    overflow: none;
    justify-content: center;
    align-items: center;
    align-self: center
}

/* note to self - this is a sloppy way to do this
I would like to do input{ max-width: min-content};
I dont know what constitutes as content
the way values are currently being imported
may not count as content */

input {
    max-width: 75%;
}




.rounded-circle img {
    max-width: 100%;
    height: auto;
    transform: scale(1.3);
}

.action-btn {
    width: 50px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}