<div class="parent-container">
    <form class="container-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <!-- Profile Details Card -->
        <div class="card mb-3" style="height: 55vh">
            <div class="card-body">
                <h5 class="card-title"> Change Password </h5>
                <div class="form-outline mb-2 input-row">
                    <input type="password" id="newPasswordInput" class="form-control" placeholder="New Password"
                        formControlName="newPassword" 
                        required />
                    <label class="form-label" for="newPassowrdInput">New Password</label>
                </div>
                <h6 class="card-title"> Please enter your old password to confirm changes: </h6>
                <div class="row input-row">
                    <!-- Password -->
                    <div class="col">
                        <div class="form-outline mb-2">
                            <input type="password" id="oldPasswordInput" class="form-control"
                                formControlName="oldPassword" required />
                            <label class="form-label" for="oldPasswordInput">Old Password</label>
                        </div>
                    </div>
                </div>
            
                <div class="row input-row">
                    <!-- Confirm Password -->
                    <div class="col">
                        <div class="form-outline mb-3">
                            <input type="password" id="confirmPasswordInput" class="form-control"
                                formControlName="confirmPassword" required />
                            <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center">
                    <!-- Save -->
                    <button class="btn btn-primary mw-2" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
