<div class="parent-container">
    <div class="card" style="height: 60vh">
        <div class="card-body">
            <!-- Profile Title -->
            <h2 class="card-title text-center mb-4"> User Profile </h2>

            <!-- First Name and Last Name -->
            <div class="row mb-4">
                <!-- First name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center bg-light p-2 rounded">
                        <label class="form-label mb-0" style="width: 100px;" for="firstNameLabel">First Name:</label>
                        <h4 id="firstNameLabel">{{ userFirstName }}</h4>
                    </div>
                </div>
                <!-- Last name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center bg-light p-2 rounded">
                        <label class="form-label mb-0" style="width: 100px;" for="lastNameLabel">Last Name:</label>
                        <h4 id="lastNameLabel">{{ userLastName }}</h4>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="text-center">
                <div class="d-inline-flex align-items-center bg-light p-2 rounded">
                    <label class="form-label me-2 mb-0" for="emailLabel">Email Address:</label>
                    <h4 id="emailLabel">{{ userEmail }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
