/* Styles for the parent container */
.parent-container {
    display: grid;
    place-items: center;
    height: 90vh;
    /* This will take the full height of the viewport */
}

/* Styles for the card */
.card {
    width: 50%;
    /* Any other styles you wish to apply to the card */
}

.container {
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.card {
    display: flex;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    align-self: center;
}

.d-flex {
    padding-bottom: 1%;
}

.custom-select {
    height: 100%;
    border-color: lightgray;
}

.card-chat-history {
    border-color: lightgray;
}

.card-title {
    width: 100%;
    height: 100%;
}

.container-form {
    justify-content: center;
    width: 95%;
}

.row {
    width: 100%
}



/* Styles for smaller screens */
@media (max-width: 991px) {

    /* Adjust the breakpoint as needed */
    .col-lg-6 {
        padding-top: 5vh;
        /* Add 5vh top padding for smaller screens */
    }
}