@import '@fortawesome/fontawesome-free/css/all.css';

.parent-container {
    display: grid;
    place-items: center;
    height: auto;
    margin: 2%;
}

.card {
    width: 50%;
    display: flex;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    align-self: center;
}

.d-flex {
    padding-bottom: 1%;
}

.input-row {
    width: 100%;
}

.input-row-half {
    width: 50%;
    padding: 0;
}

.left-row-split {
    padding-right: 10px;
}

.right-row-split {
    padding-left: 10px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
}

.card-danger {
    width: 50%;
    display: flex;
    height: auto;
    border-color: #dc3545;
    background-color: #f8d7da;
}

.collapse {
    border-radius: 0px 0px 6px 6px;
    text-align: center;
}

.title-warning {
    color: #dc3545;
    align-self: center;
}

.body-warning {
    color: #dc3545;
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    padding: 0px 2.5% 0px 2.5%;
}


.delete-confirm {
    width: 10ch;
    text-align: center;
}

.full-width {
    width: 100%;
}

.container-accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.title-left {
    text-align: left;
}

.title-right {
    text-align: right;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title-warning-content {
    flex-grow: 1;
}

.icon-container {
    flex-shrink: 0;
    padding: 0;
}

.fa-triangle-exclamation {
    color: #dc3545;
    font-size: 1.5rem;
}

.fa-caret-down, .fa-caret-up {
    color: #f0f0f0;
    background-color: #dc3545;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    font-size: 1rem;
}

.delete-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pr-6 {
    padding-right: 6px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}
