<nav class="navbar navbar-expand-lg " style="background-color: #444444;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links for users who are NOT logged in -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!(loggedIn$ | async)">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registration" routerLinkActive="active">Registration</a>
                </li>
            </ul>

            <!-- Links for users who ARE logged in -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="(loggedIn$ | async)">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/patient-portal" routerLinkActive="active">Patient Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">User Profile</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="(loggedIn$ | async)">
                <div class="dropdown position-relative">
                    <button class="email-verification-box"
                        [ngClass]="{'email-verified': (emailVerified$ | async), 'email-not-verified': !(emailVerified$ | async)}"
                        ngbTooltip="{{ (emailVerified$ | async) ? 'Email is verified.' : 'Email is not verified.' }}"
                        (click)="sendEmailVerification()" [disabled]="isVerificationButtonDisabled">
                        <i [ngClass]="{'fas fa-check': (emailVerified$ | async), 'fa-solid fa-exclamation': !(emailVerified$ | async)}"
                            aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary dropdown-toggle" type="button" id="optionsDropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false">
                        {{ (userEmail$ | async) }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="optionsDropdownMenuButton">
                        <li><button class="dropdown-item" type="button" routerLink="/edit-user-profile">Edit
                                Profile</button></li>
                        <li><button class="dropdown-item" type="button" routerLink="/change-email"
                                [disabled]="!(emailVerified$ | async)">Change Email</button></li>
                        <li><button class="dropdown-item" type="button" routerLink="/change-password"
                                [disabled]="!(emailVerified$ | async)">Change Password</button></li>
                        <li class="dropdown-divider"></li>
                        <li><button class="dropdown-item" type="button" (click)="handleLogout()">Logout</button></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>