<div class="row mb-8 d-flex justify-content-center">
    <div class="col-12 pt-3 pb-3">
        <div class="form">
            <div class="search-container d-flex" (mouseout)="onMouseOut()" (mouseover)="focusOnList=true">
                <div class="input-group custom-input-group position-relative w-100">
                    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()"
                        class="form-control custom-input" placeholder="Search medications..." (blur)="onInputBlur()"
                        (keydown.enter)="searchMedication()" (focus)="onInputFocus()" />
                    <div class="input-group-append">
                        <button (click)="searchMedication()" (focus)="onInputFocus()" id="search-btn"
                            class="btn btn-primary dropdown-toggle m-0">Search</button>
                    </div>
                </div>
            </div>

            <div *ngIf="results.length && isDropdownOpen" class="col-lg-12 dropdown-menu custom-dropdown mt-0"
                style="display: block; max-height: 200px; overflow-y: auto;">
                <div href="#" *ngFor="let result of results; let i = index" class="dropdown-item position-relative p-2"
                    (mouseOver)="focusOnList = true" (focus)="onInputFocus()">
                    {{result}} {{dosages[i]}}
                    <button class="btn btn-sm btn-outline-primary position-absolute add-btn"
                        (click)="addMedication(result, i)"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>