<div class="row mb-4 d-flex justify-content-center">
    <div class="col-9 pt-3">
        <div class="form">
            <div class="search-container">
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchTerm" class="form-control form-input"
                        placeholder="Search anything...">
                    <div class="input-group-append">
                        <button (click)="searchMedication()" id="search-btn" class="btn btn-success">Search</button>
                    </div>
                </div>
                <div *ngIf="results.length" class="dropdown-menu show mt-2"
                    style="display: block; max-height: 200px; overflow-y: auto;">
                    <div href="#" *ngFor="let result of results" class="dropdown-item position-relative">
                        {{result}}
                        <button class="btn btn-sm btn-primary position-absolute add-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>