 .custom-input:focus {
     border-color: inherit;
     box-shadow: none;


 }


 .custom-input-group .custom-input:focus~.input-group-append,
 .custom-input-group .custom-input:focus,
 .btn:focus {
     /* border-color: #80bdff; */
     border: 0;
     box-shadow: 0 0 0 0.2rem #80bdff;
     border-radius: 5px;
     margin: 0;

 }

 .input-group-append .btn {
     border-radius: 0 5px 5px 0%;
 }




 .list-group-item {
     padding-right: 70px;
 }

 .dropdown-item {
     padding-right: 70px;
 }

 .add-btn {
     top: 50%;
     right: 10px;
     transform: translateY(-50%);
 }

 .custom-dropdown {
     font-family: 'Your-Font', sans-serif;
     font-size: 14px;
     max-width: 96.5%;
 }

 .dropdown-item {
     margin: 0;
     padding: 8px 12px;
     font-size: 18px;
     text-transform: capitalize;
 }

 .add-btn {
     margin-left: 8px;
     padding: 4px 8px;
 }