/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(141, 211, 255);
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;


}

footer {
    position: absolute;
    bottom: 0;
}