.container {
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #e4efffb6;


}

.card {
    display: flex;
}

.card-body {
    display: flex;
    flex-direction: column;
    display: relative;
}

å .card-title {
    align-self: center;
}

/* .d-flex {
    padding-bottom: 1%;
} */

.custom-select {
    height: 100%;
    border-color: lightgray;
}

.card-chat-history {
    border-color: lightgray;
}

.container-form {
    justify-content: center;
}

/* Search Bar */
.search-container {
    position: relative;
    width: 100%;
}

#edit-btn {
    right: 0;

}