<div class="card" style="height: 70vh">
    <div class="card-body d-flex flex-column p-0">
        <h2 class="card-header p-3 text-center">
            <span class="text-primary">AI</span> Powered Analysis
        </h2>

        <div class="card-chat-history-container d-flex justify-content-center">
            <div class="card-chat-history p-2 text-muted" style="height: 60vh; overflow: auto;" readonly>
                <!-- Use *ngIf to conditionally display dynamic content or placeholder text -->
                <div class="m-auto" *ngIf="chatContent; else placeholder">
                    {{ chatContent }}
                </div>
                <ng-template #placeholder>
                    Hello there! <span style="font-weight: 800;">:)</span><br> Welcome to Medisense, your trusted AI
                    medication
                    analyst. I am equipped to analyze your medications, generate comprehensive reports, and
                    alert you about any potential medication interactions that might pose risks to your well-being.
                    <br> How may I be of service to you today?
                </ng-template>
            </div>
        </div>

        <!-- Analyze Button in Card Footer -->
        <div class="card-footer border-0 d-flex position-absolute bottom-0 w-100 justify-content-center">
            <!-- Analyze Button goes here-->
            <div class="btn btn-outline-primary" (click)="analyzeMedications()">Analyze<fa-icon [icon]="faPaperPlane"
                    class="p-1"></fa-icon></div>
        </div>
    </div>
</div>